nav {
  list-style-type: none;
  position: fixed;
  background-color: #e6e6e9;
  top: 0;
  width: 100%;
  left: 0%;  
}
li a{
  display:inline;
  font-family: Impact;
  Color:#772d8b;
  text-decoration: none;  
  font-size: 15px;
  float:right;
  padding: 10px
}
li a:hover{
  background-color: #BB9F06 
}
body {
  background-color: #9999a1;
}


img {
  border: double #e6e6e9 10px;
}
iframe {
  border: double #e6e6e9 10px;
  padding: 30px;
}

.container{
  width: 30%;
  Height: 20%;
  padding: 2px;
}

table, th, tr, td {
border: solid black 2px;
}

td:hover {
  color: white;
  font-size: 20;
}
